*{
    margin: 0;
    padding: 0;
}

#nav-bar{
    position: fixed;
    background-color: black;
    height: 90px;
    width: 100%;
    z-index: 1;
    
}

#nav-list{
    display: flex ;  
    justify-content: space-around;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 100%;
    
}

a:hover{
    background-color: rgb(6, 95, 6);
    height: 80%;
   
}

.section1{
    background-image: url(pics/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80%;
}

.sec1div1{
    position:relative;
    margin:  auto;
    text-align: center;
    color: #fff;
    top: 30%;

}

h1{
    padding-top: 70px;
}

.form1{
    padding-top: 90px;
}

input {
    width: 30%;
    height: 40px;
    background-color: rgb(6, 95, 6);
    
}

.section2{
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: nowrap;

}

.sec2div1{
    width: 50%;
    display: flex;
    flex-direction: column;
    

}

p{
    margin-left: 15px;
   font-size: 90%; 
   text-transform: capitalize;
}

.sec2img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

#img1{
    width:48%;
    height: 100%;
}

#img2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24%;
    height: 100%;

}

#img3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24%;
    height: 100%;

}

.form2{
    text-align: center;
    width: 80%;
}

.section3{
    
    background-color: rgb(241, 241, 240);
    padding-top: 30px;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.sec3div1{
    display: flex;
    justify-content: space-around;
    height: 50%;
    margin-left: 140px;
    margin-right: 140px;
}

.sec3-h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding-top: 15px;
}

.form3{
    text-align: center;
    font-size: small;
    padding-top: 25px;
}

.sec3div2{
    background-image: url(pics/model7.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 25%;
}

.sec3div3{
    background-image: url(pics/model8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 25%;
}

.sec3div4{
    background-image: url(pics/model9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 25%;}

.sec3div5{
    display: flex;
    justify-content: center;

    }

#div5-ul1{
    width: 30%;
    padding-left: 50px;
    border-top: solid green;
    border-left: solid green;
    border-bottom: solid green;
}

#div5-ul2{
    width: 20%;
    border-top: solid green;
    border-right: solid green;
    border-bottom: solid green;
}

 .section4{
     background-color: black;
     color: white;
     width: 100%;
     height: 270px;
     display: flex;
 }

.sec4div1{
     width: 60%;
     margin-top: 20px;
 }
 
.sec4div2{
     margin-top: 20px;
     width: 40%;
 }

button{
    background-color: green;
    color: #fff;
    width: 30%;
    height: 30px;
}

 

 